<div class="container" style="padding: 0 25px; max-width: 1000px; ">
    <form action="/books/<%= book.id %>?_method=PUT" method="POST"> 
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="exampleInputEmail1" value="<%=book.title%>">
        <br>
        

        <div class="row">
            <div class="col">
                <label for="authorselect" class="form-label">Select Author</label>

                <select class="form-control" name="author" aria-label="Default select example" id="authorselect">
                <% authors.forEach(author => 
                { 
                    if(author.id == book.author) {%>
                    <option selected label="<%= author.name %>" value="<%= author.id%>"></option>
                <%} else %>
                    <option label="<%= author.name%>" value="<%=author.id%>"></option>
                    <%
                })
                %>
                </select>
            </div>
            <div class="col-sm-12 col-md-6" style="margin-top: 10px;">
                <label for="datepicker" class="form-label">Publish Date</label>
                <input type="date" name="publishDate" value="<%= book.publishDate==null?'':book.publishDate.toISOString().split('T')[0] %>" class="form-control" id="datepicker">
            </div>
        </div>
        <br>
        
            <div class="pagecount">
                <label for="pageCount" class="form-label">Page Count</label>
                <input type="number" name="pageCount" class="form-control" id="pageCount" min="1" value="<%= book.pageCount %>">
            </div>   
            
            <div class="fileinput" style="margin-bottom: 20px;">
                
                
                    <label>Select cover image</label>
                    <input type="file" name="cover" class="filepond">
                
            </div>
        
        

        <br><br>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= book.description %></textarea>
        </div>
        
        <br><br>
        <a href="/authors/" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-primary submitbtn">Submit</button>
        </div>


    </form>
  </div>